
// Project Name: Pet Stoyanova- personal portfolio
//

// VARIABLES
//
$brand-primary: rgba(234, 68, 79, 1);
$brand-secondary: rgba(69, 26, 42, 1);
$color-inverted: rgba(255, 255, 255, 1);

$font-size-root: 13px;
$font-size-xs: 0.667rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 2.25rem;
$font-size-xl: 3.375rem;

// TYPOGRAPHY
//
$font-root: 'Source Sans Pro', sans-serif;

@mixin font($fontSize, $fontWeight){
  font-size: $fontSize;
  font-weight: $fontWeight;
}

// LAYOUT
//
@mixin column-width($columns-number) {
   $width: $columns-number * 8.333; // based on 12 columns  grid 100/12 = 8.333
   width: $width * 1%;
 }

@mixin media($breakpoint) {

 $bp-xs: "(max-width: 500px)";
 $bp-md: "(max-width: 900px)";
 $bp-lg: "(max-width: 1600px)";

 @if $breakpoint == xs {
   @media #{$bp-xs} { @content; }
 }
 @else if $breakpoint == md {
   @media #{$bp-md} { @content; }
 }
 @else if $breakpoint == lg {
   @media #{$bp-lg}  { @content; }
 }
}

// animation and transition mixins
// https://goo.gl/HAzc2u

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// clearfix
%clearfix {
 &:after {
   content: "";
   display: table;
   clear: both;
 }
}

// SENSIBLE DEFAULTS
//
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
img {
	max-width:100%;
}

ul{
  list-style:none;
}

//animations
//

@include keyframes(blur){
  0%{
    text-shadow: 0 0 0px $brand-secondary;
  }
  50%{
    text-shadow: 0 0 10px $brand-secondary;
  }
  100%{
    text-shadow: 0 0 0px $brand-secondary;
  }
}

// SITE STYLING
//
html{
  width: 100%;
  height: 100%;
  font-size: $font-size-root;
}
body{
  // font-size: $font-size-root;
  font-family: $font-root;
  // position: relative;
  width: 100%;
  height: 100%;
}

.site-container{
  width: 100vw;
  background: $brand-primary;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.welcome{
  display: block;
  background-color: $brand-secondary;
  opacity: 0.9;
  position: absolute;
  top: 0;
  padding: 5rem 1rem;
  z-index: 11;
  width: 100%;
  > div{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  .welcome-message{
    color: $color-inverted;
    font-weight: 300;
    text-align: left;
    span{
      font-weight: 900;
      font-size: $font-size-lg;
      margin-bottom: 0.8rem;
      display: block;
    }
  }
  #close{
    display: inline-block;
    color: $color-inverted;
    opacity: 0.8;
    font-size: 1.75rem;
    line-height: 1.75rem;
    cursor: pointer;
    padding: 0.8rem 1.25rem;
    margin: 2rem auto 0;
    border: 3px solid $color-inverted;
  }
}

.site-content{
  height: 100%;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  position: relative;
  @include media(xs){
    // position: relative;
    // height: auto;
    // padding-bottom: 0;
    // margin: auto 0;
    // justify-content: flex-start;
  }
  // flex-wrap: nowrap;
  // overflow: hidden;
}

.site-header{
  padding:0.5rem;
  background-color: $brand-primary;

// SITE NAVIGATION
  .site-navigation{
    padding-top:0.8rem;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    @extend %clearfix;
    ul{
       li:first-child{
        display: none;
      }
      .brand-mini{

      }
      .logo-mini{
        width: 80px;
        height: 100%;
        display: inline-block;
      }
      .name{
        color: $color-inverted;
        text-rendering: optimizeLegibility;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: $font-size-md;
        line-height: $font-size-md;
        display: inline-block;
        margin-top: 0;
        vertical-align: top;
      }
      .top-nav{
        float:right;
        a{
          text-decoration: none;
          color: $brand-secondary;
        }
        .nav {
          display: inline-block;
          @include media(xs){
            padding:0 0.5rem;
            margin-left: $font-size-xs;
          }
          a{
            padding: 1rem 1.5rem;
            margin-left: $font-size-lg;
            font-size: $font-size-md;
            border: 3px solid $brand-secondary;
            @include transition(all .25s ease);
            &:after{
              content: "\f178";
              font-family: FontAwesome;
              margin-left: 6px;
            }
            &:hover{
              background: $brand-secondary;
              color: $color-inverted;
            }
          }
        }
      }
      @include media(xs){
        li:first-child{
          display: inline-block;
          float: left;
        }
        .name{
          padding-top: 1.25rem;
          &:before{
            display: none;
          }
        }
        .top-nav{
          padding-top: 1.25rem;
        }
      }
    }
  }
}

// CV CONTAINER
//
.cv-container{
  @include column-width(8);
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 100%;
  margin: 5% auto 0;
  @include media(xs){
    margin-top: 0;
  }
  .brand{
    width: inherit;
    align-self: flex-start;
    max-width: 150px;
    display: inline-block;
    height: auto;
    margin-top: 0.7rem;
    .logo{
      width: 100%;
      max-height: 250px;
      height: auto !important;
    }
    @include media(xs){
      display: none;
    }
  }
  // BLURB
  //
  .blurb{
    align-self: center;
    text-align: left;
    flex-grow: 2;
    // order: 1;
    // z-index: 1;
    width: 70%;
    display: inline-block;
    .name{
      font-weight: 900;
      display: inline-block;
      font-size: $font-size-xl;
      margin: 0;
      color: $brand-secondary;
      width: 100%;
      vertical-align: top;
    }
    .blurred{
      font-size: $font-size-lg;
      margin-left: -3px;
      cursor: pointer;
      display: inline-block;
      color: transparent;
      border-bottom: 5px solid transparent;
      @include transition(all .3s ease);
      text-shadow: 0 0 10px $brand-secondary;
    }
    .blurred_hover{
      color: $color-inverted;
      text-shadow: 0 0 0 transparent;
      // @include animation('blur 4s 0');
    }
    // .animated{
    //   @include animation('blur 4s infinite');
    // }
    .blurb-content{
      font-size: $font-size-lg;
      @include transition(all .3s ease);
      color: $brand-secondary;
    }
    .blurb-blurred{
      color: transparent;
      text-shadow: 0 0 10px $brand-secondary;
      opacity: 0.7;
    }
    @include media(xs){
      .name{
        display: none;
      }
      .blurred, .blurb-content{
        font-size: $font-size-xl;
      }
    }
  }
  .blurb-inner{
    position: relative;
  }
  // SKILLS PANE
  //
  .skills-container{
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0;
    .selector{
      height: 4.5rem;
      width: 230px;
      margin-left: -2rem;
      // position: absolute;
      // z-index: 2;
      // top: 0;
      // left: 0;
    }
    .skills_hidden{
      display: none;
      background: rgba(255, 255, 255, 1);
      padding: 2rem;
      font-weight: 300;
      font-size: $font-size-root;
      color: $brand-secondary;
      @include transition(all .3s ease);
      span{
        display: block;
        font-weight: 900;
        font-size: 1.75rem;
        margin-bottom: 1rem;
      }
      p{
        margin-bottom: 1rem;
      }
    }
    .skills_visible{
      display: block;
    }
    .skills-inner-content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top:2rem;
      margin-bottom: 3rem;
      li{
        display: inline-block;
        width: 33.333%;
        text-align: center;
        font-size: $font-size-md;
        @media (max-width: 500px){
          width: 100%;
        }
      }
    }
    .full-resume{
      text-decoration: none;
      flex-grow: 10;
      font-size: $font-size-md;
      color: $brand-secondary;
      font-weight: 600;
      text-transform: capitalize;;
      padding: 0.5rem 1rem;
      border: 2px solid $brand-primary;
      display: inline;
      margin:0 auto;
    }
  }
  @include media(md){
    @include column-width(10);
    // flex-direction: column;
    // margin: 10% 0;
    // .blurb{
    //   width: 100%;
    // }
  }
  @include media(xs){
    @include column-width(12);
    flex-direction: column;
    .blurb{
      margin: 2rem 0;
      padding: 0 5%;
      width: 100%;
    }
  }
}
.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  .line{
    flex-grow: 2;
    border-top: 5px solid $brand-secondary;
  }
  .icon{
    text-decoration: none;
    font-size: $font-size-md;
    padding: 0.5rem 1rem;
    display: inline;
    align-self: flex-end;
    color: rgba(255, 255, 255, 0.6);
    @include transition(all .3s ease);
    &:nth-child(2){
      margin-left: 1rem;
    }
    &:hover{
      transform: translateY(-3px);
      color: rgba(255, 255, 255, 1);
    }
  }
}


// PROJECTS CONTAINER
//
.projects-container{
  @include column-width(12);
  display: flex;
  flex-direction: column;
  width: 0;
  position: absolute;
  right: 0;
  background: $brand-secondary;
  @include transition(all .25s ease-out);
  // .project-section{
    img{
      @include column-width(12);
    }
  // }
}
// #open-projects{
//   display: block;
//   width: 100%;
//   background: $brand-secondary;
//   color: $color-inverted;
// }
// PROJECT NAVIGATION
//
.projects-nav-container{
  // display: flex;
  flex-direction: row;
  display: none;
  opacity: 0;
  width: 100%;
  height: auto;
  // max-height: 3.8rem;
  z-index: 9;
  color: $color-inverted;
  background-color: $brand-secondary;
  .project-nav{
    // position: relative;
    // flex-basis: 25%;
    width:100%;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    @include transition(all .3s ease);
    &:hover{
      color: rgba(255, 255, 255, 1);
      p{
        border-bottom: 3px solid $color-inverted;
      }
    }
    p{
      color: inherit;
      text-align: center;
      @include font($font-size-root, 200);
      padding: 0.8rem;
      border: 1px solid transparent;
      border-bottom: 3px solid transparent;
      @include transition(border-color .25s ease);
    }
    &.active {
      // background-color: $brand-secondary !important;
      p{
        border: 3px solid $color-inverted;
      }
    }
  }
}

section{
  //  display: flex;
  flex-direction: column;
  display: none;
  opacity: 0;
  color: rgba(255, 255, 255, 1);
  background-color: $brand-secondary;
  @include transition(opacity 1s ease-out);
   .section-title{
     font-size: $font-size-lg;
     text-align: center;
     padding: 1.5rem 0;
     margin-top: 0;
   }
   .cover-title{
     padding: 2.5rem 0;
     font-size: $font-size-xl;
     text-align: center;
   }
   .section-item{
    //  background-color: lighten($brand-secondary, 10%);
     padding: 1.5rem;
    //  &:last-of-type{
    //    padding-bottom: 1.5rem;
    //  }
     &#cover{
       padding: 1.5rem 0;
     }
   }
   .cover-img{
     float: left ;
     width: 40%;
     margin-right: 3rem;
     @include media(xs){
       display: block;
       float: none;
       width: 100%;
       padding-right: 3rem;
     }
   }
   .cover-text{
     padding: 0 3rem 1.5rem;
     font-size: $font-size-md;
     font-weight: 300;
   }
   .insection{
    @extend %clearfix;
   }
   .insection-inverted{
     background: rgba(255, 255, 255, 1);
     width: 100%;
     text-align: center;
     color: $brand-secondary;
     padding: 2rem;
     @extend %clearfix;
     .cover-img{
       padding-right: 0;
     }
   }
   .thumbs{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     max-width: 900px;
     margin: 2rem auto;
     li{
       text-align: center;
       flex-grow: 1;
       margin-bottom: 2rem;
       &:last-of-type{
         margin-bottom: 0;
       }
     }
     &.img-row{
       li{
         flex-basis: 33.333%;
         @media (max-width: 900px){
           flex-basis: 50%;
           &:nth-last-child(-n+2){
             .reveal{
               position: static;
             }
           }
         }
         @media (max-width: 544px){
           flex-basis: 100%;
         }
         &:nth-last-child(-n+3){
           .reveal{
             position: static;
           }
         }
       }
       div{
         margin: 0 1.25rem;
         position: relative;
       }
       .thumb-img{
         max-width: 70%;
         margin-bottom: 1.25rem;
       }
     }
     .percent{
       font-weight: 300;
       line-height: 1.5rem;
       font-size: 1.3rem;
       vertical-align: text-top;
       padding-top: 0.7rem;
       padding-left: 1px;
       display: inline-block;
     }
     #reveal{
       padding: 0.8rem 1.25rem;
       color: $brand-secondary;
       margin: 0 auto;
       cursor: pointer;
       @include transition(all .25s ease-out);
       &:after{
         content: "\f078";
         font-family: FontAwesome;
         margin-left: 4px;
         font-size: $font-size-root;
         height: 1.5rem;
         line-height: 1.5rem;
         display: inline-block;
         vertical-align: middle;
         @include transition(transform .15s ease-out);
       }
       &:hover{
         color: $color-inverted;
         background-color: $brand-primary;
         &:after{
           transform: rotate(-180deg);
         }
         ~ .reveal{
           height: auto;
           padding: 1.5rem 1rem;
           border: 3px solid $brand-primary;
           z-index: 3;
           @media (max-width: 544px){
             position: static;
           }
         }
       }
     }
     .reveal{
       height: 0;
       overflow: hidden;
       padding: 0 1rem;
       font-size: $font-size-root;
      //  margin: 1rem;
       position: absolute;
       background-color: $color-inverted;
       border: 3px solid transparent;
       @include transition(all .25s ease);
     }
   }
   .text-thumb{
     text-align: left;
     flex-basis: 50%;
     padding: 0;
     &:nth-child(2n+1){
       padding-right: 1.25rem;
     }
     &:nth-child(2n+2){
       padding-left: 1.25rem;
     }
     .insection-text{
       padding: 0;
     }
     @media (max-width: 620px){
       margin-bottom: 1.5rem;
       flex-basis: 100%;
       &:nth-child(2n+1){
         padding-right: 0;
       }
       &:nth-child(2n+2){
         padding-left: 0;
       }
     }
   }
   .thumb-inner{
     position: relative;
     width: 180px;
     height: 120px;
     margin: 0 auto;
     padding-top: 3rem;
     span:not(.percent){
      font-weight: 900;
      font-size: 2rem;
      display: block;
      width: 6rem;
      line-height: 6rem;
      background-color: #ea444f;
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      border-radius: 50%;
     }
   }
   .thumb-img{
     max-width: 80px;
     position: relative;
     z-index: 1;
     margin: 0 auto;
   }
   .thumb-title{
     font-size: 1.5rem;
     text-transform: capitalize;
     margin: 1rem 0;
   }

   .insection-title{
     text-align: center;
     padding: 1.5rem 0;
     font-size: $font-size-lg;
     font-weight: 200;
   }
   .insection-text{
     padding: 0 0 1.5rem;
     font-size: $font-size-md;
     font-weight: 300;
     text-align: left;
     @media (max-width: 620px){
       padding: 0;
       margin-bottom: 1.5rem;
     }
   }
   ul.insection-text{
     list-style: disc;
     margin-left: 1.5rem;
   }
 }
.show-project{
  display: flex;
}
.visibility{
  opacity: 1;
}

 .slide-projects{
   width: 100%;
   z-index: 100;
}



// [id^="tab"]:checked ~ [id^="project"] {
//
//   display: flex;
//   flex-direction: column;
// }

.bottom-nav{
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  a{
    background-color: rgba(69, 26, 42, 0.8);
    padding: 0.5rem 2rem 0.8rem;
    display: block;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    &.fa{
      text-align: center;
      padding-bottom: 0;
      padding-top: 0.5rem;
    }
  }
}

.site-footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background: $brand-secondary;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}

/******************************************
/* HELPER CLASSES
/*******************************************/


.is-visible {
     display: block;
}

// .grid-row {
//   margin:0 -20px;
//   @extend %clearfix();
// }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
