
// Project Name: Blank Template
// Client: Your Client
// Author: Your Name
//

//******************************************
//* VARIABLES
//*******************************************

$brand-color-primary: rgba(234, 68, 79, 1);
$brand-color-secondary: rgba(69, 26, 42, 1);

$font-size-root: 16px;
$font-size-xs: 0.667rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 2.25rem;
$font-size-xl: 3.375rem;



@mixin column-width($columns-number) {
   $width: $columns-number * 8.333; // based on 12 columns  grid 100/12 = 8.333
   width: $width * 1%;
 }


//******************************************
//* SENSIBLE DEFAULTS
//*******************************************

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
img {
	max-width:100%;
}

//******************************************
/* TYPOGRAPHY
/*******************************************/

$font-root: 'Libre Franklin', sans-serif;

@mixin font($fontSize, $fontWeight){
  font-size: $fontSize;
  font-weight: $fontWeight;
}
/******************************************
/* LAYOUT
/*******************************************/

body{
  font-size: $font-size-root;
  font-family: $font-root;
}

.site-container{
  width: 100vw;
  max-width: 1600px;
}

.site-content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // flex-flow:<flex-direction> || <flex-wrap>;
}

.site-header{
  background:$brand-color-primary;
}
// SITE NAVIGATION
.site-navigation{
  padding:0.8rem;
  ul{
    list-style:none;
  }
}

.top-nav{
  display: inline-block;
  vertical-align: middle;
  padding: 0.2rem 0.5rem;
  &:hover{
    border-bottom: 2px solid;
    margin:-1px;
  }
}

// PROJECT NAVIGATION
//
.projects-nav-container{
  @include column-width(0.5);
  border:1px solid black;
  height: 100%;
  min-width:3rem;

  .project-nav{
    position: relative;
    height: 10rem;
    border: 1px solid blue;

    p{
      position: absolute;
      transform-origin: 0 0;
      transform: rotate(-90deg) translate(-50%);
      top:50%;
      text-align: center;
      @include font($font-size-sm, 200);
      width: 10rem;
      padding: 1rem;
      // border: 1px solid blue;
    }
  }
}

.projects-container{
  @include column-width(3);
  .project-section{
    display: flex;
    flex-direction: column;
    img{
      @include column-width(12);

    }
  }
}

.cv-container{
  @include column-width(8);
  border:1px solid black;
}

.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/


.is-visible {
     display: block;
}

// clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// .grid-row {
//   margin:0 -20px;
//   @extend %clearfix();
// }





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
