.site-header .site-navigation:after, section .insection:after, section .insection-inverted:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

@-webkit-keyframes blur {
  0% {
    text-shadow: 0 0 1px white;
  }
  50% {
    text-shadow: 0 0 7px white;
  }
  100% {
    text-shadow: 0 0 1px white;
  }
}
@-moz-keyframes blur {
  0% {
    text-shadow: 0 0 1px white;
  }
  50% {
    text-shadow: 0 0 7px white;
  }
  100% {
    text-shadow: 0 0 1px white;
  }
}
@-o-keyframes blur {
  0% {
    text-shadow: 0 0 1px white;
  }
  50% {
    text-shadow: 0 0 7px white;
  }
  100% {
    text-shadow: 0 0 1px white;
  }
}
@keyframes blur {
  0% {
    text-shadow: 0 0 1px white;
  }
  50% {
    text-shadow: 0 0 7px white;
  }
  100% {
    text-shadow: 0 0 1px white;
  }
}
html {
  width: 100%;
  height: 100%;
  font-size: 13px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 100%;
}

.site-container {
  width: 100vw;
  background: #ea444f;
  position: relative;
}

.welcome {
  display: block;
  background-color: #451a2a;
  opacity: 0.9;
  position: absolute;
  top: 0;
  padding: 5rem 1rem;
  z-index: 11;
  width: 100%;
}
.welcome > div {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.welcome .welcome-message {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
}
.welcome .welcome-message span {
  font-weight: 900;
  font-size: 2.25rem;
  margin-bottom: 0.8rem;
  display: block;
}
.welcome #close {
  display: inline-block;
  color: white;
  opacity: 0.8;
  font-size: 1.75rem;
  line-height: 1.75rem;
  cursor: pointer;
  padding: 0.8rem 1.25rem;
  margin: 2rem auto 0;
  border: 3px solid white;
}

.site-content {
  min-height: 100vh;
  text-align: center;
  position: relative;
}
@media (max-width: 500px) {
  .site-content {
    height: 100%;
  }
}

.site-header {
  background: #ea444f;
  padding: 0.5rem;
}
.site-header .site-navigation {
  padding: 0.8rem 1.25rem;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.site-header .site-navigation ul li:first-child {
  display: none;
}
.site-header .site-navigation ul .brand-mini {
  width: 50px;
  margin-right: 1rem;
}
.site-header .site-navigation ul .name {
  display: none;
  color: #451a2a;
  text-rendering: optimizeLegibility;
  float: left;
  font-weight: 900;
  font-size: 1.5rem;
}
.site-header .site-navigation ul .top-nav {
  display: none;
  float: right;
  text-decoration: none;
  color: #451a2a;
  padding: 0.4rem 1rem;
  font-size: 1.25rem;
  border-bottom: 2px solid transparent;
  border: 3px solid #451a2a;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.site-header .site-navigation ul .top-nav:hover {
  background-color: #451a2a;
  color: white;
}
@media (max-width: 500px) {
  .site-header .site-navigation ul li:first-child {
    display: inline-block;
    float: left;
  }
  .site-header .site-navigation ul .name {
    padding-top: 1rem;
    display: inline-block;
  }
  .site-header .site-navigation ul .top-nav {
    display: inline-block;
  }
}

.cv-container {
  width: 66.664%;
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 100%;
  margin: 5% auto 0;
}
@media (max-width: 500px) {
  .cv-container {
    margin-top: 0;
  }
}
.cv-container .brand {
  align-self: flex-start;
  max-width: 150px;
  display: inline-block;
  height: 150px;
  margin-top: 0.7rem;
}
.cv-container .brand .logo {
  height: 100%;
  margin-right: 1.25rem;
}
@media (max-width: 500px) {
  .cv-container .brand {
    display: none;
  }
}
.cv-container .name-big {
  width: 100%;
  font-weight: 900;
  display: block;
  font-size: 3.375rem;
  color: #451a2a;
  margin: 0;
}
@media (max-width: 500px) {
  .cv-container .name-big {
    display: none;
  }
}
.cv-container .blurb {
  align-self: center;
  text-align: left;
  flex-grow: 2;
  width: 70%;
  display: inline-block;
}
.cv-container .blurb h2 {
  font-weight: 400;
  display: inline-block;
  font-size: 2.25rem;
  margin: 0;
  color: white;
  width: 100%;
  margin-top: -0.3rem;
}
@media (max-width: 500px) {
  .cv-container .blurb h2 {
    font-size: 3.375rem;
    font-weight: 900;
  }
  .cv-container .blurb h2 .blurred {
    text-transform: capitalize;
  }
}
.cv-container .blurb h2 .blurred {
  float: left;
  cursor: pointer;
  display: inline-block;
  color: transparent;
  margin-top: 3px;
  line-height: 2.25rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px #451a2a;
}
@media (max-width: 500px) {
  .cv-container .blurb h2 .blurred {
    margin-top: 6px;
    line-height: 3.375rem;
  }
}
.cv-container .blurb h2 .blurred_hover {
  float: none;
  color: white;
  text-shadow: none;
  -webkit-animation: blur 4s 0;
  -moz-animation: blur 4s 0;
  -ms-animation: blur 4s 0;
  -o-animation: blur 4s 0;
  animation: blur 4s 0;
}
.cv-container .blurb h2 .animated {
  -webkit-animation: blur 3s infinite;
  -moz-animation: blur 3s infinite;
  -ms-animation: blur 3s infinite;
  -o-animation: blur 3s infinite;
  animation: blur 3s infinite;
}
.cv-container .blurb h2 .blurb-blurred {
  color: transparent;
  text-shadow: 0 0 10px #451a2a;
  opacity: 0.7;
}
.cv-container .blurb-inner {
  position: relative;
  margin: 1.85rem 0;
}
.cv-container .skills-container {
  width: 100%;
}
.cv-container .skills-container #close-skills {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-120%);
  color: white;
  font-size: 1.25rem;
  line-height: 1.25rem;
  cursor: pointer;
  margin: 0;
  padding: 0.4rem 0.5rem;
  border: 3px solid white;
}
.cv-container .skills-container .skills_hidden {
  display: none;
  clear: both;
  position: relative;
  background: white;
  padding: 2rem;
  font-weight: 300;
  font-size: 13px;
  color: #451a2a;
  -webkit-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  -ms-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}
.cv-container .skills-container .skills_hidden span {
  display: block;
  font-weight: 900;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.cv-container .skills-container .skills_hidden p {
  margin-bottom: 1rem;
}
.cv-container .skills-container .skills_visible {
  display: block;
  height: 100%;
  overflow: visible;
}
.cv-container .skills-container .skills-inner-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.cv-container .skills-container .skills-inner-content li {
  display: inline-block;
  width: 33.333%;
  text-align: center;
  font-size: 1.25rem;
}
@media (max-width: 500px) {
  .cv-container .skills-container .skills-inner-content li {
    width: 100%;
  }
}
.cv-container .skills-container .full-resume {
  text-decoration: none;
  flex-grow: 10;
  font-size: 1.25rem;
  color: #451a2a;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border: 2px solid #ea444f;
  display: inline;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .cv-container {
    width: 83.33%;
  }
}
@media (max-width: 500px) {
  .cv-container {
    width: 99.996%;
    flex-direction: column;
  }
  .cv-container .blurb {
    margin: 2rem 0;
    padding: 0 5%;
    width: 100%;
    margin: 0;
  }
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 6rem;
  align-items: center;
}
.social-icons .line {
  flex-grow: 2;
  border-top: 5px solid #451a2a;
}
.social-icons .icon {
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  display: inline;
  align-self: flex-end;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-icons .icon:nth-child(2) {
  margin-left: 1rem;
}
.social-icons .icon:hover {
  transform: translateY(-3px);
  color: white;
}

.arrow-down {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #451a2a;
  padding: 0.4rem 1rem;
  font-size: 3.375rem !important;
  border-bottom: 2px solid transparent;
}

.projects-nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-height: 3.8rem;
  color: white;
}
.projects-nav-container .project-nav {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  background-color: #6a2841;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.projects-nav-container .project-nav:hover {
  background-color: #451a2a;
  color: white;
}
.projects-nav-container .project-nav p {
  color: inherit;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  padding: 1rem;
}

.active {
  background-color: #451a2a !important;
}

.projects-container {
  width: 99.996%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.projects-container img {
  width: 99.996%;
}

section {
  display: none;
  color: white;
  background-color: #451a2a;
}
section .section-title {
  font-size: 2.25rem;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 0;
}
section .cover-title {
  padding: 2.5rem 0;
  font-size: 3.375rem;
  text-align: center;
}
section .cover-img {
  float: left;
  width: 40%;
  margin-right: 3rem;
}
@media (max-width: 500px) {
  section .cover-img {
    display: block;
    float: none;
    width: 100%;
    padding-right: 3rem;
  }
}
section .cover-text {
  padding: 0 3rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
}
section .section-item {
  padding: 1.5rem;
}
section .section-item#cover {
  padding: 1.5rem 0;
}
section .section-item#cover .insection-title {
  clear: none;
}
section .insection-inverted {
  background: white;
  width: 100%;
  text-align: center;
  color: #451a2a;
  padding: 2rem;
}
section .insection-inverted .cover-img {
  padding: 0;
  width: 50%;
  margin-right: 3.5rem;
}
@media (max-width: 600px) {
  section .insection-inverted .cover-img {
    display: block;
    padding: 2rem;
    float: none;
    width: 100%;
  }
}
section .thumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 2rem auto;
}
section .thumbs li {
  text-align: center;
  flex-grow: 1;
  margin-bottom: 2rem;
}
section .thumbs li:last-of-type {
  margin-bottom: 0;
}
section .thumbs.img-row li {
  flex-basis: 33.333%;
}
@media (max-width: 900px) {
  section .thumbs.img-row li {
    flex-basis: 50%;
  }
  section .thumbs.img-row li:nth-last-child(-n+2) .reveal {
    position: static;
  }
}
@media (max-width: 544px) {
  section .thumbs.img-row li {
    flex-basis: 100%;
  }
}
section .thumbs.img-row li:nth-last-child(-n+3) .reveal {
  position: static;
}
section .thumbs.img-row div {
  margin: 0 1.25rem;
  position: relative;
}
section .thumbs.img-row .thumb-img {
  max-width: 70%;
  margin-bottom: 1.25rem;
}
section .thumbs .percent {
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 1.3rem;
  vertical-align: text-top;
  padding-top: 0.7rem;
  padding-left: 1px;
  display: inline-block;
}
section .thumbs #reveal {
  padding: 0.8rem 1.25rem;
  color: #451a2a;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
section .thumbs #reveal:after {
  content: "\f078";
  font-family: FontAwesome;
  margin-left: 4px;
  font-size: 13px;
  height: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: transform 0.15s ease-out;
  -moz-transition: transform 0.15s ease-out;
  -ms-transition: transform 0.15s ease-out;
  -o-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
}
section .thumbs #reveal:hover {
  color: white;
  background-color: #ea444f;
}
section .thumbs #reveal:hover:after {
  transform: rotate(-180deg);
}
section .thumbs #reveal:hover ~ .reveal {
  height: auto;
  padding: 1.5rem 1rem;
  border: 3px solid #ea444f;
  z-index: 3;
}
@media (max-width: 544px) {
  section .thumbs #reveal:hover ~ .reveal {
    position: static;
  }
}
section .thumbs .reveal {
  height: 0;
  overflow: hidden;
  padding: 0 1rem;
  font-size: 13px;
  position: absolute;
  background-color: white;
  border: 3px solid transparent;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
section .text-thumb {
  text-align: left;
  flex-basis: 50%;
  padding: 0;
}
section .text-thumb:nth-child(2n+1) {
  padding-right: 1.25rem;
}
section .text-thumb:nth-child(2n+2) {
  padding-left: 1.25rem;
}
section .text-thumb .insection-text {
  padding: 0;
}
@media (max-width: 620px) {
  section .text-thumb {
    margin-bottom: 1.5rem;
    flex-basis: 100%;
  }
  section .text-thumb:nth-child(2n+1) {
    padding-right: 0;
  }
  section .text-thumb:nth-child(2n+2) {
    padding-left: 0;
  }
}
section .thumb-inner {
  position: relative;
  width: 180px;
  height: 120px;
  margin: 0 auto;
  padding-top: 3rem;
}
section .thumb-inner span:not(.percent) {
  font-weight: 900;
  font-size: 2rem;
  display: block;
  width: 6rem;
  line-height: 6rem;
  background-color: #ea444f;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  border-radius: 50%;
}
section .thumb-img {
  max-width: 80px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
section .thumb-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 1rem 0;
}
section .bio {
  background: #ea444f;
  color: white;
  padding: 1.25rem;
}
section .bio .thumb-title {
  text-align: left;
}
section .insection-title {
  clear: both;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 2.25rem;
  font-weight: 200;
}
section .insection-text {
  padding: 0 0 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: left;
}
@media (max-width: 620px) {
  section .insection-text {
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
section ul.insection-text {
  list-style: disc;
  margin-left: 1.5rem;
}
section .link {
  display: inline-block;
  text-decoration: none;
  color: #ea444f;
  font-size: 1.25rem;
  border: 3px solid #ea444f;
  padding: 0.5rem 1rem;
  margin-top: 1.25rem;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
section .link:hover, section .link:active, section .link:focus {
  background-color: #ea444f;
  color: white;
}
section .link::after {
  content: "\f105";
  font-family: FontAwesome;
  margin-left: 5px;
}

.show-project {
  display: flex;
  flex-direction: column;
}

.bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
}
.bottom-nav a {
  background-color: rgba(69, 26, 42, 0.8);
  padding: 0.5rem 2rem 0.8rem;
  display: block;
  color: white;
  text-decoration: none;
}
.bottom-nav a.fa {
  text-align: center;
  padding-bottom: 0;
  padding-top: 0.5rem;
}

.site-footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background: #451a2a;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}

/******************************************
/* HELPER CLASSES
/*******************************************/
.is-visible {
  display: block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*# sourceMappingURL=main.css.map */
