
// Project Name: Pet Stoyanova- personal portfolio
//

// VARIABLES
//
$brand-primary: rgba(234, 68, 79, 1);
$brand-secondary: rgba(69, 26, 42, 1);
$color-inverted: rgba(255, 255, 255, 1);

$font-size-root: 13px;
$font-size-xs: 0.667rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 2.25rem;
$font-size-xl: 3.375rem;

// TYPOGRAPHY
//
$font-root: 'Source Sans Pro', sans-serif;

@mixin font($fontSize, $fontWeight){
  font-size: $fontSize;
  font-weight: $fontWeight;
}

// LAYOUT
//
@mixin column-width($columns-number) {
   $width: $columns-number * 8.333; // based on 12 columns  grid 100/12 = 8.333
   width: $width * 1%;
 }

@mixin media($breakpoint) {

 $bp-xs: "(max-width: 500px)";
 $bp-md: "(max-width: 900px)";
 $bp-lg: "(max-width: 1600px)";

 @if $breakpoint == xs {
   @media #{$bp-xs} { @content; }
 }
 @else if $breakpoint == md {
   @media #{$bp-md} { @content; }
 }
 @else if $breakpoint == lg {
   @media #{$bp-lg}  { @content; }
 }
}

// animation and transition mixins
// https://goo.gl/HAzc2u

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// clearfix
%clearfix {
 &:after {
   content: "";
   display: table;
   clear: both;
 }
}

// SENSIBLE DEFAULTS
//
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
img {
	max-width:100%;
}

ul{
  list-style:none;
}

//animations
//

@include keyframes(blur){
  0%{
    text-shadow: 0 0 0px $brand-secondary;
  }
  50%{
    text-shadow: 0 0 10px $brand-secondary;
  }
  100%{
    text-shadow: 0 0 0px $brand-secondary;
  }
}

// SITE STYLING
//
html{
  width: 100%;
  height: 100%;
  font-size: $font-size-root;
}
body{
  // font-size: $font-size-root;
  font-family: $font-root;
  // position: relative;
  width: 100%;
  height: 100%;
}

.site-container{
  width: 100vw;
  background: $brand-primary;
  position: relative;
}

.site-content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media(xs){
    position: relative;
    height: 100%;
    padding-bottom: 10rem;
    justify-content: flex-start;
  }
  // flex-wrap: nowrap;
  // overflow: hidden;
}

.site-header{
  background:$brand-primary;
  padding:0.5rem;

// SITE NAVIGATION
  .site-navigation{
    padding-top:0.8rem;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    @extend %clearfix;
    ul{
       li:first-child{
        display: none;
      }
      .brand-mini{
        width: 80px;
        height: 100%;
      }
      .name{
        color: $color-inverted;
        text-rendering: optimizeLegibility;
        letter-spacing: 1px;
        float: left;
        text-transform: uppercase;
        font-weight: 900;
        font-size: $font-size-md;
        line-height: $font-size-md;
        &:before{
          content: "";
          padding-left: $font-size-md;
          padding-right: 5px;
          margin-right: 1rem;
          border: 3px solid $color-inverted;
          background-color: $brand-secondary;
        }
      }
      .top-nav{
        float:right;
        a{
          text-decoration: none;
          color: $brand-secondary;
        }
        .nav {
          display: inline-block;
          padding: 0 1rem 0.8rem 1rem;
          margin-left: $font-size-md;
          border-bottom: 2px solid transparent;
          @include transition(all .3s ease);
          @include media(xs){
            padding:0 0.5rem;
            margin-left: $font-size-xs;
          }
          a{
            font-size: 1.25rem;
          }
          &:hover{
            border-bottom: 2px solid $brand-secondary;
          }
        }
      }
      @include media(xs){
        li:first-child{
          display: inline-block;
          float: left;
        }
        .name{
          padding-top: 1.25rem;
          &:before{
            display: none;
          }
        }
        .top-nav{
          padding-top: 1.25rem;
        }
      }
    }
  }
}

// CV CONTAINER
//
.cv-container{
  @include column-width(8);
  margin-top: -15%;
  display: flex;
  flex-direction: row;
  align-self: center;
  .brand{
    width: inherit;
    align-self: flex-start;
    max-width: 150px;
    display: inline-block;
    height: auto;
    margin-top: 0.7rem;
    .logo{
      width: 100%;
      max-height: 250px;
      height: auto !important;
    }
    @include media(xs){
      display: none;
    }
  }
  // BLURB
  //
  .blurb{
    align-self: center;
    text-align: left;
    flex-grow: 2;
    // order: 1;
    // z-index: 1;
    width: 70%;
    display: inline-block;
    h1{
      font-weight: 900;
      display: inline-block;
      font-size: $font-size-xl;
      margin: 0;
      color: $brand-secondary;
      width: 100%;
      vertical-align: top;
      .blurred{
        margin-left: -3px;
        cursor: pointer;
        display: inline-block;
        color: transparent;
        border-bottom: 5px solid transparent;
        @include transition(all .3s ease);
        text-shadow: 0 0 10px $brand-secondary;
      }
      .blurred_hover{
        color: $color-inverted;
        text-shadow: 0 0 0 transparent;
        // @include animation('blur 4s 0');
      }
      // .animated{
      //   @include animation('blur 4s infinite');
      // }
      .blurb-content{
        @include transition(all .3s ease);
      }
      .blurb-blurred{
        color: transparent;
        text-shadow: 0 0 10px $brand-secondary;
        opacity: 0.7;
      }
    }
  }
  .blurb-inner{
    position: relative;
  }
  // SKILLS PANE
  //
  .skills-container{
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 0;
    .selector{
      height: 4.5rem;
      width: 230px;
      margin-left: -2rem;
      // position: absolute;
      // z-index: 2;
      // top: 0;
      // left: 0;
    }
    .skills_hidden{
      display: none;
      background: rgba(255, 255, 255, 1);
      padding: 2rem;
      font-weight: 300;
      // display: flex;
      // flex-direction: column;
      @include transition(all .3s ease);
      // margin-top: -1rem;
    }
    .skills_visible{
      // display: block;
      display: flex;
      flex-direction: column;
    }
    .skills-inner-content{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top:2rem;
      margin-bottom: 3rem;
      h1{
        margin: 0.25rem auto;
      }
    }
    .full-resume{
      text-decoration: none;
      flex-grow: 10;
      font-size: $font-size-md;
      color: $brand-secondary;
      font-weight: 600;
      text-transform: capitalize;;
      padding: 0.5rem 1rem;
      border: 2px solid $brand-primary;
      display: inline;
      margin:0 auto;
    }
  }
  @include media(md){
    @include column-width(10);
    // flex-direction: column;
    // margin: 10% 0;
    // .blurb{
    //   width: 100%;
    // }
  }
  @include media(xs){
    @include column-width(12);
    flex-direction: column;
    .blurb{
      margin: 7rem 0 2rem 0;
      padding: 0 5%;
      width: 100%;
    }
  }
}
.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  .line{
    flex-grow: 2;
    border-top: 5px solid $brand-secondary;
  }
  .icon{
    text-decoration: none;
    font-size: $font-size-md;
    padding: 0.5rem 1rem;
    display: inline;
    align-self: flex-end;
    color: rgba(255, 255, 255, 0.6);
    @include transition(all .3s ease);
    &:nth-child(2){
      margin-left: 1rem;
    }
    &:hover{
      transform: translateY(-3px);
      color: rgba(255, 255, 255, 1);
    }
  }
}

// PROJECT NAVIGATION
//
.projects-nav-container{
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @include column-width(12);
  height: auto;
  // min-width:3rem;
  height: 3.5rem;
  align-content: space-between;
  background: $brand-secondary;
  color: $color-inverted;
  @include media(xs){
    position: absolute;
    bottom: 0;
  };
  .project-nav{
    // position: relative;
    flex-basis: 25%;
    width:100%;
    color: rgba(255, 255, 255, 0.6);
    @include transition(all .3s ease);
    &:hover{
      background: lighten($brand-secondary, 10%);
      color: rgba(255, 255, 255, 1);
    }
    p{
      color: inherit;
      text-align: center;
      @include font($font-size-sm, 200);
      padding: 1rem;
    }
  }
}
input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
// PROJECTS CONTAINER
//
.projects-container{
  @include column-width(12);
  display: none;
  // display: flex;
  // flex-direction: column;
  // .project-section{
    img{
      @include column-width(12);
    }
  // }
}
section{
   display: none;
 }
 .show-project{
   display: flex;
   flex-direction: column;
 }


[id^="#tab"]:checked + label {
  background: lighten($brand-secondary, 10%);
  color: rgba(255, 255, 255, 1);
}
// [id^="tab"]:checked ~ [id^="project"] {
//
//   display: flex;
//   flex-direction: column;
// }

.site-footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background: $brand-secondary;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}

/******************************************
/* HELPER CLASSES
/*******************************************/


.is-visible {
     display: block;
}

// .grid-row {
//   margin:0 -20px;
//   @extend %clearfix();
// }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
