
// Project Name: Pet Stoyanova- personal portfolio
//

// VARIABLES
//
$brand-primary: rgba(234, 68, 79, 1);
$brand-secondary: rgba(69, 26, 42, 1);
$color-inverted: rgba(255, 255, 255, 1);

$font-size-root: 13px;
$font-size-xs: 0.667rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 2.25rem;
$font-size-xl: 3.375rem;

// TYPOGRAPHY
//
$font-root: 'Source Sans Pro', sans-serif;

@mixin font($fontSize, $fontWeight){
  font-size: $fontSize;
  font-weight: $fontWeight;
}

// LAYOUT
//
@mixin column-width($columns-number) {
   $width: $columns-number * 8.333; // based on 12 columns  grid 100/12 = 8.333
   width: $width * 1%;
 }

@mixin media($breakpoint) {

 $bp-xs: "(max-width: 500px)";
 $bp-md: "(max-width: 900px)";
 $bp-lg: "(max-width: 1200px)";
 $bp-xl: "(max-width: 1600px)";

 @if $breakpoint == xs {
   @media #{$bp-xs} { @content; }
 }
 @else if $breakpoint == md {
   @media #{$bp-md} { @content; }
 }
 @else if $breakpoint == lg {
   @media #{$bp-lg}  { @content; }
 }
 @else if $breakpoint == lg {
   @media #{$bp-xl}  { @content; }
 }
}

// animation and transition mixins
// https://goo.gl/HAzc2u

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// clearfix
%clearfix {
 &:after {
   content: "";
   display: table;
   clear: both;
 }
}

// SENSIBLE DEFAULTS
//
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
img {
	max-width:100%;
}

ul{
  list-style:none;
}

//animations
//

@include keyframes(blur){
  0%{
    text-shadow: 0 0 1px $color-inverted;
  }
  50%{
    text-shadow: 0 0 7px $color-inverted;
  }
  100%{
    text-shadow: 0 0 1px $color-inverted;
  }
}

// SITE STYLING
//
html{
  width: 100%;
  height: 100%;
  font-size: $font-size-root;
}
body{
  // font-size: $font-size-root;
  font-family: $font-root;
  // position: relative;
  width: 100%;
  height: 100%;
}

.site-container{
  width: 100vw;
  background: $brand-primary;
  position: relative;
}

.welcome{
  display: block;
  background-color: $brand-secondary;
  opacity: 0.9;
  position: absolute;
  top: 0;
  padding: 5rem 1rem;
  z-index: 11;
  width: 100%;
  > div{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  .welcome-message{
    color: $color-inverted;
    font-weight: 300;
    font-size: $font-size-md;
    text-align: center;
    span{
      font-weight: 900;
      font-size: $font-size-lg;
      margin-bottom: 0.8rem;
      display: block;
    }
    .link{
      color: $color-inverted;
      font-weight: 500;
    }
  }
  #close{
    display: inline-block;
    color: $color-inverted;
    opacity: 0.8;
    font-size: 1.75rem;
    line-height: 1.75rem;
    cursor: pointer;
    padding: 0.8rem 1.25rem;
    margin: 2rem auto 0;
    border: 3px solid $color-inverted;
  }
}

.site-content{
  min-height: 100vh;
  text-align: center;
  position: relative;
  @include media(xs){
    height: 100%;
    // padding-bottom: 0;
    // margin: auto 0;
    // justify-content: flex-start;
  }
  // flex-wrap: nowrap;
  // overflow: hidden;
}

.site-header{
  background:$brand-primary;
  padding:0.5rem;

// SITE NAVIGATION
  .site-navigation{
    padding: 0.8rem 1.25rem;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    @extend %clearfix;
    ul{
       li:first-child{
        display: none;
      }
      .brand-mini{
        width: 50px;
        margin-right: 1rem;
      }
      .name{
        display: none;
        color: $brand-secondary;
        text-rendering: optimizeLegibility;
        // letter-spacing: 1px;
        float: left;
        // text-transform: uppercase;
        font-weight: 900;
        font-size: 1.5rem;
        // line-height: $font-size-md;
        // &:before{
        //   content: "";
        //   padding-left: $font-size-md;
        //   padding-right: 5px;
        //   margin-right: 1rem;
        //   border: 3px solid $color-inverted;
        //   background-color: $brand-secondary;
        // }
      }
      .top-nav{
        display: none;
        float:right;
        text-decoration: none;
        color: $brand-secondary;
        padding: 0.4rem 1rem;
        font-size: 1.25rem;
        border-bottom: 2px solid transparent;
        border: 3px solid $brand-secondary;
        @include transition(all .25s ease);
        &:hover{
          background-color: $brand-secondary;
          color: $color-inverted;
        }
      }
      @include media(xs){
        li:first-child{
          display: inline-block;
          float: left;
        }
        .name{
          padding-top: 1rem;
          display: inline-block;
          // &:before{
          //   display: none;
          // }
        }
        .top-nav{
          display: inline-block;
        }
      }
    }
  }
}

// CV CONTAINER
//
.cv-container{
  @include column-width(8);
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 100%;
  margin: 5% auto 0;
  @include media(xs){
    margin-top: 0;
  }
  .brand{
    align-self: flex-start;
    max-width: 150px;
    display: inline-block;
    height: 150px;
    margin-top: 0.7rem;
    .logo{
      height: 100%;
      margin-right: 1.25rem;
    }
    @include media(xs){
      display: none;
    }
  }
  // BLURB
  //
  .name-big{
    width: 100%;
    font-weight: 900;
    display: block;
    font-size: $font-size-xl;
    color: $brand-secondary;
    margin: 0;
    @include media(xs){
      display: none;
    }
  }
  .blurb{
    align-self: center;
    text-align: left;
    flex-grow: 2;
    // order: 1;
    // z-index: 1;
    width: 70%;
    display: inline-block;
    h2{
      font-weight: 400;
      display: inline-block;
      font-size: $font-size-lg;
      margin: 0;
      color: $color-inverted;
      width: 100%;
      margin-top: -0.3rem;
      @include media(xs){
        font-size: $font-size-xl;
        font-weight: 900;
        .blurred{
          text-transform: capitalize;
        }
      }
      .blurred{
        // margin-left: -3px;
        float: left;
        cursor: pointer;
        display: inline-block;
        color: transparent;
        margin-top: 3px;
        line-height: $font-size-lg;
        // border-bottom: 5px solid transparent;
        @include transition(all .3s ease);
        text-shadow: 0 0 10px $brand-secondary;
        @include media(xs){
          margin-top: 6px;
          line-height: $font-size-xl;
        }
      }
      .blurred_hover{
        float: none;
        color: $color-inverted;
        text-shadow: none;
        @include animation('blur 4s 0');
      }
      .animated{
        @include animation('blur 3s infinite');
      }
      // .blurb-content{
      //   opacity: 1;
      //   @include transition(opacity .25s ease);
      // }
      // @at-root .blurb-opacity{
      //   opacity: 0;
      // }
      .blurb-blurred{
        color: transparent;
        text-shadow: 0 0 10px $brand-secondary;
        opacity: 0.7;
      }
    }
  }
  .blurb-inner{
    position: relative;
    margin: 1.85rem 0;
  }
  // SKILLS PANE
  //
  .skills-container{
    width: 100%;
    #close-skills{
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-120%);
      color: $color-inverted;
      font-size: 1.25rem;
      line-height: 1.25rem;
      cursor: pointer;
      margin: 0;
      padding: 0.4rem 0.5rem;
      border: 3px solid $color-inverted;
    }
    .skills_hidden{
      display: none;
      clear: both;
      position: relative;
      background: rgba(255, 255, 255, 1);
      // height: 0;
      // overflow: hidden;
      padding: 2rem;
      font-weight: 300;
      font-size: $font-size-root;
      color: $brand-secondary;
      @include transition(height .3s ease-out);
      span{
        display: block;
        font-weight: 900;
        font-size: 1.75rem;
        margin-bottom: 1rem;
      }
      p{
        margin-bottom: 1rem;
      }
    }
    .skills_visible{
      display: block;
      height: 100%;
      overflow: visible;
    }
    .skills-inner-content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top:2rem;
      margin-bottom: 3rem;
      li{
        display: inline-block;
        width: 33.333%;
        text-align: center;
        font-size: $font-size-md;
        @media (max-width: 500px){
          width: 100%;
        }
      }
    }
    .full-resume{
      text-decoration: none;
      flex-grow: 10;
      font-size: $font-size-md;
      color: $brand-secondary;
      font-weight: 600;
      text-transform: capitalize;;
      padding: 0.5rem 1rem;
      border: 2px solid $brand-primary;
      display: inline;
      margin:0 auto;
    }
  }
  @include media(md){
    @include column-width(10);
  }
  @include media(xs){
    @include column-width(12);
    flex-direction: column;
    .blurb{
      margin: 2rem 0;
      padding: 0 5%;
      width: 100%;
      margin: 0;
    }
  }
}
.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 6rem;
  align-items: center;
  .line{
    flex-grow: 2;
    border-top: 5px solid $brand-secondary;
  }
  .icon{
    text-decoration: none;
    font-size: $font-size-md;
    padding: 0.5rem 1rem;
    display: inline;
    align-self: flex-end;
    color: rgba(255, 255, 255, 0.6);
    @include transition(all .3s ease);
    &:nth-child(2){
      margin-left: 1rem;
    }
    &:hover{
      transform: translateY(-3px);
      color: rgba(255, 255, 255, 1);
    }
  }
}

.arrow-down{
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: $brand-secondary;
  padding: 0.4rem 1rem;
  font-size: $font-size-xl !important;
  border-bottom: 2px solid transparent;
}
// PROJECT NAVIGATION
//
.projects-nav-container{
  // align-self: flex-end;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-height: 3.8rem;
  // position: fixed;
  // z-index: 9;
  // min-width:3rem;
  // height: 3.5rem;
  // align-content: space-between;
  // background: $brand-secondary;
  color: $color-inverted;
  // position: absolute;
  // bottom: 0;
  // @include media(xs){
  //   position: absolute;
  //   bottom: 0;
  // };
  .project-nav{
    // position: relative;
    // flex-basis: 25%;
    width:100%;
    color: rgba(255, 255, 255, 0.6);
    background-color: lighten($brand-secondary, 10%);
    @include transition(all .3s ease);
    &:hover{
      background-color: $brand-secondary;
      color: rgba(255, 255, 255, 1);
    }
    p{
      color: inherit;
      text-align: center;
      @include font($font-size-root, 200);
      padding: 1rem;
    }
  }
}
.active {
  background-color: $brand-secondary !important;
}

// PROJECTS CONTAINER
//
.projects-container{
  @include column-width(12);
  // display: none;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  // .project-section{
    img{
      @include column-width(12);
    }
  // }
}
section{
   display: none;
   color: rgba(255, 255, 255, 1);
   background-color: $brand-secondary;
   .section-title{
     font-size: $font-size-lg;
     text-align: center;
     padding: 1.5rem 0;
     margin-top: 0;
   }
   .cover-title{
     padding: 2.5rem 0;
     font-size: $font-size-xl;
     text-align: center;
   }
   .cover-img{
     float: left ;
     width: 40%;
     margin-right: 3rem;
     @include media(xs){
       display: block;
       float: none;
       width: 100%;
       padding-right: 3rem;
     }
   }
   .cover-text{
     padding: 0 3rem 1.5rem;
     font-size: $font-size-md;
     font-weight: 300;
   }
   .section-item{
    //  background-color: lighten($brand-secondary, 10%);
     padding: 1.5rem;
    //  &:last-of-type{
    //    padding-bottom: 1.5rem;
    //  }
     &#cover{
       padding: 1.5rem 0;
       .insection-title{
         clear: none;
       }
     }
   }
   .insection{
    @extend %clearfix;
   }
   .insection-inverted{
     background: rgba(255, 255, 255, 1);
     width: 100%;
     text-align: center;
     color: $brand-secondary;
     padding: 2rem;
     @extend %clearfix;
     .cover-img{
       padding: 0;
       width: 50%;
       margin-right: 3.5rem;
       @media (max-width: 600px){
         display: block;
         padding: 2rem;
         float: none;
         width: 100%;
       }
     }
   }

   // thumbs
   .thumbs{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     max-width: 900px;
     margin: 2rem auto;
     li{
       text-align: center;
       flex-grow: 1;
       margin-bottom: 2rem;
       &:last-of-type{
         margin-bottom: 0;
       }
     }
     &.img-row{
       li{
         flex-basis: 33.333%;
         @media (max-width: 900px){
           flex-basis: 50%;
           &:nth-last-child(-n+2){
             .reveal{
               position: static;
             }
           }
         }
         @media (max-width: 544px){
           flex-basis: 100%;
         }
         &:nth-last-child(-n+3){
           .reveal{
             position: static;
           }
         }
       }
       div{
         margin: 0 1.25rem;
         position: relative;
       }
       .thumb-img{
         max-width: 70%;
         margin-bottom: 1.25rem;
       }
     }
     .percent{
       font-weight: 300;
       line-height: 1.5rem;
       font-size: 1.3rem;
       vertical-align: text-top;
       padding-top: 0.7rem;
       padding-left: 1px;
       display: inline-block;
     }
     #reveal{
       padding: 0.8rem 1.25rem;
       color: $brand-secondary;
       margin: 0 auto;
       cursor: pointer;
       @include transition(all .25s ease-out);
       &:after{
         content: "\f078";
         font-family: FontAwesome;
         margin-left: 4px;
         font-size: $font-size-root;
         height: 1.5rem;
         line-height: 1.5rem;
         display: inline-block;
         vertical-align: middle;
         @include transition(transform .15s ease-out);
       }
       &:hover{
         color: $color-inverted;
         background-color: $brand-primary;
         &:after{
           transform: rotate(-180deg);
         }
         ~ .reveal{
           height: auto;
           padding: 1.5rem 1rem;
           border: 3px solid $brand-primary;
           z-index: 3;
           @media (max-width: 544px){
             position: static;
           }
         }
       }
     }
     .reveal{
       height: 0;
       overflow: hidden;
       padding: 0 1rem;
       font-size: $font-size-root;
      //  margin: 1rem;
       position: absolute;
       background-color: $color-inverted;
       border: 3px solid transparent;
       @include transition(all .25s ease);
     }
   }
   .text-thumb{
     text-align: left;
     flex-basis: 50%;
     padding: 0;
     &:nth-child(2n+1){
       padding-right: 1.25rem;
     }
     &:nth-child(2n+2){
       padding-left: 1.25rem;
     }
     .insection-text{
       padding: 0;
     }
     @media (max-width: 620px){
       margin-bottom: 1.5rem;
       flex-basis: 100%;
       &:nth-child(2n+1){
         padding-right: 0;
       }
       &:nth-child(2n+2){
         padding-left: 0;
       }
     }
   }
   .thumb-inner{
     position: relative;
     width: 180px;
     height: 120px;
     margin: 0 auto;
     padding-top: 3rem;
     span:not(.percent){
      font-weight: 900;
      font-size: 2rem;
      display: block;
      width: 6rem;
      line-height: 6rem;
      background-color: #ea444f;
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      border-radius: 50%;
     }
   }
   .thumb-img{
     max-width: 80px;
     position: relative;
     z-index: 1;
     margin: 0 auto;
   }
   .thumb-title{
     font-size: 1.5rem;
     text-transform: capitalize;
     margin: 1rem 0;
   }

   .bio{
     background: $brand-primary;
     color: $color-inverted;
     padding: 1.25rem;
     .thumb-title{
       text-align: left;
     }
   }

   .insection-title{
     clear: both;
     text-align: center;
     padding: 1.5rem 0;
     font-size: $font-size-lg;
     font-weight: 200;
   }
   .insection-text{
     padding: 0 0 1.5rem;
     font-size: $font-size-md;
     font-weight: 300;
     text-align: left;
     @media (max-width: 620px){
       padding: 0;
       margin-bottom: 1.5rem;
     }
   }
   ul.insection-text{
     list-style: disc;
     margin-left: 1.5rem;
   }

   .prototype{
     position: relative;
     display: inline-block;
     .overlay{
       position: absolute;
       z-index: 2;
       width: 100%;
       height: 100%;
       background: transparent;
       @include transition(all .25s ease-out);
       &:hover, &:active, &:focus{
         background-color: rgba(0, 0, 0, 0.4);
         .link{
           opacity: 1;
         }
       }
     }
     .link{
       opacity: 0;
       display: block;
       height: 100%;
       vertical-align: middle;
       text-decoration: none;
       color: $color-inverted;
       font-size: $font-size-lg;
      //  border: 3px solid $brand-primary;
       padding: 0.5rem 1rem;
       margin-top: 1.25rem;
       @include transition(all .25s ease-out);
        // &:hover, &:active, &:focus{
        //   background-color: $brand-primary;
        //   color: $color-inverted;
        // }
        &::after{
          content: "\f105";
          font-family: FontAwesome;
          margin-left: 5px;
        }
     }
   }
 }
 .show-project{
   display: flex;
   flex-direction: column;
 }



// [id^="tab"]:checked ~ [id^="project"] {
//
//   display: flex;
//   flex-direction: column;
// }

.bottom-nav{
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  a{
    background-color: rgba(69, 26, 42, 0.8);
    padding: 0.5rem 2rem 0.8rem;
    display: block;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    &.fa{
      text-align: center;
      padding-bottom: 0;
      padding-top: 0.5rem;
    }
  }
}

.site-footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background: $brand-secondary;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}

/******************************************
/* HELPER CLASSES
/*******************************************/


.is-visible {
     display: block;
}

// .grid-row {
//   margin:0 -20px;
//   @extend %clearfix();
// }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
